{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint",
      "css",
      "html"
    ],
    "extends": [
      "eslint:recommended",
      "react-app",
      "react-app/jest",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:css/recommended",
    ],
    "rules": { }
}